<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%yellow(%d{yy.MM.dd HH:mm:ss}) [threadId:%thread, traceId:%blue(%X{trace_id})] %highlight(%-5level)
                %blue(%logger{36}) - %boldMagenta(%msg%n)
            </pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <logger name="com.yeming.blog.core" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>